.home__content {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 3em;
}

.home__search {
  margin-top: 1em;
  width: 80%;
  max-width: 400px;
  border: 2px solid red;
  padding: 0.8em 1em;
}

.home__products {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.home__products li {
  padding: 1.5em 0.75em;
  width: 80%;
}

@media (min-width: 580px) {
  .home__products li {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .home__products li {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .products-list li {
    width: 25%;
  }
}
